<div class="container" id="advanced-search-form">
    <h2>Registar Usuario</h2>
    <form id="form-registro-cliente">
        <div id="row">
            <div class="form-group" style="width: 245px;">
                <label for="first-name">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="nombre">
            </div>
            <div class="form-group" style="width: 245px;">
                <label for="last-name">Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido" name="apellido">
            </div>
            <div class="form-group" style="width: 245px;">
                <label for="first-name">Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono" name="telefono">
            </div>
        </div>
        <div id="row">
            <div class="form-group" style="width: 245px;">
                <label for="last-name">Correo</label>
                <input type="text" class="form-control" placeholder="Correo" name="correo">
            </div>
            <div class="form-group" style="width: 245px;">
                <label for="first-name">Tipo Cliente</label>
                <select type="text" class="form-control" name="tipoCliente">
                    <option value="0">Seleccion tipo</option>
                    <option value="1">Empresa</option>
                    <option value="2">Individual</option>
                    <option value="3">Distribuidor</option>
                </select>
            </div>
            <div class="form-group" style="width: 245px;">
                <label for="last-name">Nit</label>
                <input type="text" class="form-control" placeholder="Nit" name="nit">
            </div>
        </div>
        <div id="row">
            <div class="form-group" style="width: 775px;">
                <label for="first-name">Direccion</label>
                <textarea type="text" class="form-control" placeholder="Direccion" name="direccion"></textarea>
            </div>
        </div>
        <div id="row">
            <div class="form-group" style="width: 245px;">
                <label for="first-name">Usuario</label>
                <input type="text" class="form-control" placeholder="Usuario" name="usuario">
            </div>
            <div class="form-group" style="width: 245px;">
                <label for="last-name">Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña" name="contraseña">
            </div>
        </div>
        <button type="button" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Registar</button>
    </form>
</div>